mixin cart
    - const quantity = session?.cart?.items ? session.cart.totalQuantity: 0
    .bag
        .bag-header
            h5.heading.heading--senary.heading--senary= `Cart(${quantity})`
        #cartItems.bag__items
            - if(session.cart)
                each product in session.cart.items
                    .bag-item(data-id=`${product._id}`)
                        .bag-gallery
                            img(src=`/assets/cart/image-${product.slug}.jpg`, alt=`${product.name}`)
                        .bag-description
                            .bag-description__name= product.cartName
                            .bag-description__price= product.convertPrice
                        .bag-item__quantity
                           p.bag-cart-quantity=product.quantity
        -if(session.cart)
            #cartInfos.bag__infos
                .bag-total.bag-info
                    p.bag-total__word Total
                    p.bag-total__total= session.cart.covertTotal
            .bag-link
                a(href="/shop/bag") Go to cart
           

        