extends base
include _navBar
include _cart
include _minnav


block overlay
    #overlay.overlay.hidden
        +cart

block overlay-nav
    .navigation.hidden
        +minNav

block header
    header.header-product.content-center
        +navBar
block content
    main#cart
        - const arr = ["kakdk", 'adsd']
        if orders
            each order in orders
                section.cart.content-center
                    .carts.content-center.order
                        h1.heading.heading--secondary.heading--secondary-cart=`Order #${order.id.slice(-8).toUpperCase()}`
                        #cart-header.cart-header
                            h5.heading.heading--senary.heading--senary-checkout= `Total: $${order.total}`
                        #cartItems.cart__items(data-id=`${order.orderItems}`)
                            - if(order.products)
                                each product in order.products
                                    .cart-item
                                        .cart-gallery
                                            img(src=`${product.image.tablet.split("").slice(1).join("")}`, alt=`${product.name} image`)
                                        .cart-description
                                            .cart-description__name= product.name
                                            .cart-description__price= `$ ${product.price}`
                                        .cart-item__quantity
                                            - const item = order.orderItems.find((obj) => obj.id === product.id); 
                                            input.item-cart-quantity(type="number" value=`${item.quantity}` min="1" disabled)
 
       
